body {
    background-color: black;
    font-family: "New Amsterdam", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300vh;
}

.intro h1 {
    color: snow;
    margin-top: 350px;
    margin-bottom: 0;
    padding-bottom: 200px;
    font-size: 60px;
    text-align: center;
}

.cv1 h1 {
    color:snow;
    font-size:25px;
    margin-top: 10px;
}

.sections {
    display: flex;
    justify-content: space-between;
    width: 60%;
    padding-top: 20vh;
}

.aboutme h2, .skills h2, .projects h1, .container h2, .qualifications h2 {
    color: snow;
    font-size: 40px;
    text-decoration: underline;
    margin: 0;
}

.skills {
    margin-right: 920px;
    margin-top: -200px;
}

.aboutme p, .skills p, .qualifications p, .cv1 p, .time p, .languages p {
    color: snow;
    font-size: 20px;
    margin: 0;
}
.education p {
    color: snow;
    font-size: 20px;
    margin: 0;
    margin-top: 10px;
}

.projects {
    margin-right: 575px;
}

.projects h1 {
    padding-top: 255px;
    margin-right: 115px;
}

.time p {
    padding-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1200px;
    animation-name: zoom;
    animation-duration: 0.6s;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

@keyframes zoom {
    from {transform: scale(0);}
    to {transform: scale(1);}
}

.close {
    position: absolute;
    top: 50px;
    right: 100px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: #bbb;
}

.container {
    margin-top:200px;
    display: flex;
    justify-content: space-between;
    width: 60%;
}

#mySidenav a {
    position: fixed;
    left: -100px;
    transition: 0.3s;
    padding: 15px;
    width: 120px; /* Increase width to accommodate text and icon */
    text-decoration: none;
    font-size: 20px;
    color: black;
    border-radius: 0 5px 5px 0;
    display: flex;
    justify-content: space-between; /* Space between text and icon */
    align-items: center;
}

#mySidenav a:hover {
    left: 0;
}

#email {
    top: calc(50% - 80px);
    background-color: #ffffff;
}

#linkedin {
    top: calc(50%);
    background-color: #0077b5;
    color: white;
}

#whatsapp {
    top: calc(50% + 80px);
    background-color: #25d366;
    color: white;
}

#mySidenav a i {
    font-size: 24px;
}


